<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header text-center">
        <span>{{getToUserName()}} ({{onlineOffline}})</span>
      </div>
      <div class="card-body chat-care">
        <ul class="chat">
          <ng-container *ngFor="let chat of chatList">
            <li class="agent clearfix" *ngIf="!checkFromUser(chat)">
              <span class="chat-img left clearfix mx-2">
                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="Agent" class="img-circle" />
              </span>
              <div class="chat-body clearfix">
                <div class="header clearfix">
                  <strong class="primary-font"></strong>
                  <small class="right text-muted">
                    <span class="glyphicon glyphicon-time"></span>12 mins
                    ago</small>
                </div>
                <p>{{chat.message}}</p>
              </div>
            </li>
            <li class="admin clearfix" *ngIf="checkFromUser(chat)">
              <span class="chat-img right clearfix mx-2">
                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="Admin" class="img-circle" />
              </span>
              <div class="chat-body clearfix">
                <div class="header clearfix">
                  <small class="left text-muted"><span class="glyphicon glyphicon-time"></span>13 mins
                    ago</small>
                  <strong class="right primary-font"></strong>
                </div>
                <p>
                  {{chat.message}}
                </p>
              </div>
            </li>
          </ng-container>
          <!-- <li class="agent clearfix">
              <span class="chat-img left clearfix mx-2">
                <img
                  src="http://placehold.it/50/55C1E7/fff&text=U"
                  alt="Agent"
                  class="img-circle"
                />
              </span>
              <div class="chat-body clearfix">
                <div class="header clearfix">
                  <strong class="primary-font">Jack Sparrow</strong>
                  <small class="right text-muted">
                    <span class="glyphicon glyphicon-time"></span>12 mins
                    ago</small
                  >
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
            <li class="admin clearfix">
              <span class="chat-img right clearfix mx-2">
                <img
                  src="http://placehold.it/50/FA6F57/fff&text=ME"
                  alt="Admin"
                  class="img-circle"
                />
              </span>
              <div class="chat-body clearfix">
                <div class="header clearfix">
                  <small class="left text-muted"
                    ><span class="glyphicon glyphicon-time"></span>13 mins
                    ago</small
                  >
                  <strong class="right primary-font">Bhaumik Patel</strong>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Curabitur bibendum ornare dolor, quis ullamcorper ligula
                  sodales.
                </p>
              </div>
            </li>
            <li class="agent clearfix">
              <span class="chat-img left clearfix mx-2">
                <img
                  src="http://placehold.it/50/55C1E7/fff&text=U"
                  alt="Agent"
                  class="img-circle"
                />
              </span>
              <div class="chat-body clearfix">
                <div class="header clearfix">
                  <strong class="primary-font">Jack Sparrow</strong>
                  <small class="right text-muted">
                    <span class="glyphicon glyphicon-time"></span>14 mins
                    ago</small
                  >
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
            <li class="admin clearfix">
              <span class="chat-img right clearfix mx-2">
                <img
                  src="http://placehold.it/50/FA6F57/fff&text=ME"
                  alt="Admin"
                  class="img-circle"
                />
              </span>
              <div class="chat-body clearfix">
                <div class="header clearfix">
                  <small class="left text-muted"
                    ><span class="glyphicon glyphicon-time"></span>15 mins
                    ago</small
                  >
                  <strong class="right primary-font">Bhaumik Patel</strong>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Curabitur bibendum ornare dolor.
                </p>
              </div>
            </li> -->
        </ul>
      </div>
      <div class="card-footer">
        <div class="input-group">
          <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..."
            [(ngModel)]="message" />
          <span class="input-group-btn">
            <button (click)="sendMessage()" class="btn btn-primary" id="btn-chat">Send</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>